<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">
        Session Planner
      </a>
      <ul class="nav">
        <li>
          <a href="#">
            Blog
          </a>
        </li>
        <li>
          <a href="#">
            Workshops
          </a>
        </li>
        <li>
          <a href="#">
            About
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="hero-unit">
    <div>
      <h1>
        Agile Development
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt
        turpis sit amet odio rhoncus elementum. Suspendisse ac nulla a est varius
        dignissim. Phasellus bibendum ornare dolor vitae consequat. Proin nec molestie
        eros. Nullam imperdiet ipsum ac turpis aliquam imperdiet. Nunc gravida
        ultricies diam at condimentum. Mauris adipiscing sem in nunc rutrum facilisis.
        Aenean et convallis leo. Aliquam erat dui, ornare eu egestas sed, imperdiet
        at purus. Curabitur consectetur bibendum nibh varius dictum.
      </p>
      <p>
        January 1, 2013 - March 1, 2013
      </p>
    </div>
  </div>
  <ul class="nav nav-tabs">
    <li>
      <a href="#">
        Sessions
      </a>
    </li>
    <li>
      <a href="#">
        Calendar
      </a>
    </li>
    <li>
      <a href="#">
        Map
      </a>
    </li>
    <li>
      <a href="#">
        About
      </a>
    </li>
  </ul>
  <div class="row">
    <div class="span4">
      <div class="well">
        <div>
          <h1>
            Session 1
          </h1>
          <p>
            This is a template
          </p>
        </div>
      </div>
      <div class="well">
        <div>
          <h1>
            Session 2
          </h1>
          <p>
            This is a template
          </p>
        </div>
      </div>
      <div class="well">
        <div>
          <h1>
            Session 3
          </h1>
          <p>
            This is a template
          </p>
        </div>
      </div>
    </div>
    <div class="span8">
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt
          turpis sit amet odio rhoncus elementum. Suspendisse ac nulla a est varius
          dignissim. Phasellus bibendum ornare dolor vitae consequat. Proin nec molestie
          eros. Nullam imperdiet ipsum ac turpis aliquam imperdiet. Nunc gravida
          ultricies diam at condimentum. Mauris adipiscing sem in nunc rutrum facilisis.
          Aenean et convallis leo. Aliquam erat dui, ornare eu egestas sed, imperdiet
          at purus. Curabitur consectetur bibendum nibh varius dictum.
          <br>
        </p>
      </div>
    </div>
  </div>
</div>