<% if @session.errors.any? %>
  // Create list for errors
  var errors = $("<ul/>");
  
  // Load errors into list
  <% @session.errors.full_messages.each do |error| %>
    errors.append("<li><%=j error %></li>");
  <% end %>
  
  // Display the errors on the form
  $("#session-info form #error_explanation").remove();
  $('<div id="error_explanation" />').html(errors).prependTo($("#session-info form"));
<% else %>
  // Create the new session
  var new_session = $('<li class="session active" data-id="<%= @session.id %>"><%=j link_to truncate(@session.title, length: 35, separator: " "), workshop_session_path(@workshop, @session), remote: true %></li>')
  
  // Make it the active session in the list
  $("#session-list li").removeClass("active");
  
  // Remove the 'no sessions' from the list if it exists
  $("#session-list .no-sessions").remove();
  
  // Add the session to the list
  $("#session-list").append(new_session);
  
  $('.triangle').remove();
  new_session.append('<div class="triangle"></div>');
  
  // Load the session into the well
  $("#session-info").html("<%=j render @session %>");
  
  $("[rel~=tooltip]").tooltip()
<% end %>