$(".tooltip").remove();

// Remove the session from the list
$('.session[data-id=<%= @session.id %>]').remove();

// Make sure no sessions are active
$('#session-list li').removeClass("active");

// Add the "no sessions" content to the list
if (!($('#session-list .session').length)) {
  $('#session-list').append('<span class="no-sessions">No sessions</span>');
}

// Reset content of well
$('#session-info').text("No session selected...");