// Update the session list to highlight the Add Session link
$('#session-list li').removeClass('active');
$('#add-session').addClass('active');
$('.triangle').remove();
$('#add-session').append('<div class="triangle"></div>');

// Render the form into the well
$("#session-info").html($("<%=j render 'sessions/form' %>"));

$("#equipment").select2({
  placeholder: "Required equipment",
  allowClear: true
});