
<h1> Workshops you are currently enrolled in: </h1>
 <% for workshop in @workshops %>
<div class="well">
  <h2><%= link_to workshop.title, workshop %></h2>
  <p><%= workshop.description %></p>
</div>
<% end %>
