<tr class="expense">
  <td><%= f.text_field :name, class: "input-xlarge" %></td>
  <td>
    <div class="input-prepend">
      <span class="add-on">$</span>
      <%= f.text_field :amount, class: "input-xlarge" %>
    </div>
  </td>
  <td>
    <%= f.hidden_field :_destroy %>
    <%= link_to_function "remove", "remove_expense(this)" %>
  </td>
</tr>