<% if current_user_is_admin %>
<%= link_to "Add a new equipment", new_equipment_path %>
<% end %>

<% for equipment in @Equipments %>
<div>
	<h2><%= equipment.name %></h2>
	<p><%= truncate(equipment.description, :length => 400, :omission => '... (continued)') %></p>
	<%= link_to "View equipement", equipment %>
</div>
<% end %>

