<h1>Budgets</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Workshop</th>
      <th>Total</th>
      <th>Manage</th>
    </tr>
  </thead>
  <tbody>
    <% @budgets.each do |budget| %>
    <tr>
      <td><%= link_to budget.workshop.title, workshop_path(budget.workshop) %></td>
      <td>$<%= number_with_precision(budget.total, precision: 2) %></td>
      <td>
        <%= link_to edit_workshop_budget_path(budget.workshop), rel: "tooltip", title: "Edit" do %>
          <i class="icon-edit"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
