<h2>Upcoming Workshops</h2>
<table class="table">
  <thead>
    <tr>
      <td>Name</td>
      <td>Start Date</td>
      <td>End Date</td>
    </tr>
  </thead>
  <% @workshops.each do |workshop| %>
  <tr>
    <td><%= link_to workshop.title, workshop_path(workshop) %></td>
    <td><%= workshop.start_date.strftime("%A, %b %-d, %Y") %></td>
    <td><%= workshop.end_date.strftime("%A, %b %-d, %Y") %></td>
  </tr>
  <% end %>
</table>