<% if current_user_is_admin %>
<%= link_to "Create a new post", new_post_path %>
<% end %>

<% for post in @Posts %>
<div>
	<h2><%= post.title %></h2>
	<p><%= truncate(post.content, :length => 400, :omission => '... (continued)') %></p>
	<%= link_to "View post", post %>
</div>
<% end %>

