<% if current_user_is_admin %>
<%= link_to "Create a new post", new_post_path %>
<% end %>

<% for post in @Posts %>
<div>
	<h2><%= post.title %></h2>
	<p><%= post.content %></p>
	<%= link_to "View posts", post %>
</div>
<% end %>

