@import "bootstrap";
@import "bootstrap-responsive";

body {
	padding: 60px; /* Make container go to bottom of navbar */
}

.dropdown-menu form {
  padding: 10px;
  padding-bottom: 0;
}

/* Form styling */
form select {
  width: auto;
}