@import "bootstrap";

body {
	padding: 60px; /* Make container go to bottom of navbar */
  
}

/* Rails scaffold style compatibility */
#error_explanation {
  @extend .alert;
  @extend .alert-error;
  @extend .alert-block; /* optional */
}

.field_with_errors {
  @extend .control-group.error
}

.login-dropdown {
  padding: 0;
  width: auto;
}

.login-dropdown form {
  padding: 10px;
  padding-bottom: 0;
}

.login-dropdown label {
  color: #333;
}

.login-dropdown-footer {
  padding: 10px;
  background-color: #EEE;
  text-align: center;
}

.login-dropdown-footer a {
  color: #08C;
}

/* Admin controls */
.admin-controls-container {
  position: relative;
}

.admin-controls {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  list-style: none;
}

/* Form styling */
select {
  width: auto;
}