@import "bootstrap";

body {
	padding: 60px; /* Make container go to bottom of navbar */
}

#error_explanation {

}

.field_with_errors {
  color: red;
 }

/* Form styling */
form select {
  width: auto;
}