// Place all the styles related to the Workshops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-controls {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  list-style: none;
}

.workshop-info {
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
}

.workshop-info h1 {
  text-align: center;
  border-bottom: 1px dotted #CCC;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.workshop-info .description {
  font-size: 1.1em;
  text-align: justify;
  border-bottom: 1px dotted #CCC;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.workshop-info .dates {
  font-size: 3em;
  text-align: center;
}