<div id="user_nav" align="middle" ">
  <% if current_user %>
    <p align="right">Logged in as 
    	<font color="blue"><%= current_user.email %></font>
    	[<%= link_to "Log out", signout_path, method: :delete %>]
    </p>
  <% else %>
  <p align="right"">
    <%= link_to "Sign up", signup_path %> or
    <%= link_to "log in", signin_path %>
  </p>
  <% end %>
</div>